
body {
  font-family: font-family: Georgia, serif;
  color: yellow;
  background-image: url("ugly2.jpeg");
  font-size: 50px;}

p {
  font-family: font-family: Georgia, serif;
  color: yellow;
  background-image: url("ugly2.jpeg");
  font-size: 50px;}

h1 {
  font-family: font-family: Georgia, serif;
  color: black;
  margin-left: 20px;
  font-size: 75px;
}

h2 {
  font-family: font-family: Georgia, serif;
  color: yellow;
  margin-left: 20px;
  font-size: 25px;
}
